/.vs
/packages
/psicologiamvc/Content/images
/psicologiamvc/bin
/psicologiamvc/Content
/psicologiamvc/fonts
/psicologiamvc/Images
/psicologiamvc/Obj
/psicologiamvc/Properties
/psicologiamvc/Scripts

.gitignore
Web.config