
@{
    ViewBag.Title = "Nuevo";
}

<h2>Nuevo</h2>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-4">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Busqueda de Evaluado</h5>
                </div>
                <div class="ibox-content">
                    <form role="form" class="form-inline">
                        <div class="form-group">
                            <label for="nombreEvaluado" class="sr-only">Evaluado</label>
                            <input type="text" placeholder="Evaluado" id="nombreEvaluado"
                                   class="form-control">
                        </div>
                        <button class="btn btn-white" type="submit">Buscar</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-lg-8">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Datos del Evaluado</h5>
                </div>
                <div class="ibox-content">
                    <form role="form" class="form-inline">
                        <div class="form-group">
                            <label for="nombreEvaluado" class="sr-only">Evaluado</label>
                            <input type="text" placeholder="Evaluado" id="nombreEvaluado"
                                   class="form-control">
                        </div>
                        <button class="btn btn-white" type="submit">Buscar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>