<div class="middle-box text-center animated fadeInDown">
    <h1>Error</h1>
    <h3 class="font-bold">Acceso Denegado</h3>

    <div class="error-desc">
        Usted NO tiene el acceso permitido a esta opción, contacte a su superior para solicitar el permiso para usar este módulo
    </div>
</div>